recursive-include caspo/learn/encodings *.lp
recursive-include caspo/control/encodings *.lp
recursive-include caspo/analyze/encodings *.lp
recursive-include caspo/design/encodings *.lp
recursive-include caspo/data *.csv *.sif *.json
include LICENSE
include CHANGES
include README.md
