include caspo/learn/encodings/gringo3/*.lp
include caspo/learn/encodings/gringo4/*.lp
include caspo/control/encodings/gringo3/*.lp
include caspo/control/encodings/gringo4/*.lp
include caspo/analyze/encodings/gringo3/*.lp
include caspo/analyze/encodings/gringo4/*.lp
include caspo/design/encodings/gringo4/*.lp
include LICENSE
include README.md
