recursive-include caspo/encodings *.lp
recursive-include caspo/data *.csv *.sif *.json
recursive-include docs *.rst *.py *.png *.txt
recursive-include travis-ci *.py Dockerfile

include recipe/meta.yaml
include requirements.txt
include environment.yml
include Dockerfile
include LICENSE
include CHANGES
include README.md

prune docs/_build
